* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  /* 1440-80*2+20*2 =1320 */
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}
